.main__covers {
  margin-top: 92px;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .main__covers {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .main__covers {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .main__covers {
    margin-top: 66px;
  }
}
