.main__covers {
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .main__covers {
    margin-left: -48px;
    margin-right: -48px;
  }
}

@media screen and (max-width: 1023px) {
  .main__covers {
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media screen and (max-width: 719px) {
  .main__covers {
    margin-left: -16px;
    margin-right: -16px;
  }
}
