.page {
  margin: 0;
  padding: 28px 48px 24px;
  font-family: 'Inter', sans-serif;
  background-color: #2A2C2F;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px) {
  .page {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 719px) {
  .page {
    padding-left: 16px;
    padding-right: 16px;
  }
}
