.footer__links-item {
  margin-left: 18px;
}

.footer__links-item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .footer__links-item {
    margin-left: 0;
    margin-top: 32px;
  }

  .footer__links-item:first-child {
    margin-top: 0;
  }
}
