.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 719px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}
