.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 740px;
  background: url(./__background.jpg) center center no-repeat;
  background-size: cover;
  text-decoration: none;
}

.cover::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  content: '';
  transition: opacity 0.8s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
  }
}
