.header__logo-img {
  width: 176px;
  height: 52px;
  object-fit: contain;
  object-position: left center;
}

@media screen and (max-width: 719px) {
  .header__logo-img {
    width: 142px;
    height: 42px;
  }

}
