.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .cover__content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .cover__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
